

* {
    margin: 0;
    padding: 0;
}

.head-pages {
    background: rgba(233, 230, 62, 0.3);
    border: 2px dashed #558104;
}

/* body {
    background: rgba(255, 1, 34, 0.8);
} */

.stripe-one {
    background: rgba(3, 172, 240, 0.3);
    border: 2px dashed #3164f0;
}

footer {
    background: rgba(255, 147, 223, 0.3);
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 2px dashed #f69c55;
        font-size: 18px;
        font-weight: bold;
        color: rgb(247, 64, 31);

}

 img { /* Deixar foto redonda */
    width:100px;
  height:100px;
  object-fit:cover;
  border-radius:50%;
}

input{
    width: 10%;
    padding: 3px 2px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[id=contact-email]{
    width: 16%;
    padding: 3px 2px;
    margin: 8px 0;
    box-sizing: border-box;
}

  input[id=contact-subject] {
    width: 30%;
    padding: 40px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.form-font {
    font-size: 18px;
    font-weight: bold;
    color: rgb(87, 34, 211);
    text-align: center;
}